.about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
    width:80%;
    margin:auto;
  

    &__collapses{
        width: 80%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;  
        margin: 20px auto 0 auto;

        @media(max-width:500px){
            width: 100%;
        }
    }
}