@import "../../utils/variables.scss";

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 100px;

    @media (max-width: 500px){
        margin: 20px;

        &__logo{
            width:60%;
            height: auto;
        }
    }
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 20%;

    &__link{
        color: $primary;
        text-decoration: none; 

        &:active{
            text-decoration: underline ;
        }
    }

    @media (max-width:500px){
        width: 90%;
        justify-content: space-around;

        &__link{
            text-transform: uppercase;
            font-size: 12px;
        }
    }
}

.active{
    text-decoration: underline;
}